{% extends "base.html" %}

{% block body %}
  {% if request.organization %}
    {{ request.organization.about|markdown|reference|str|safe }}
  {% else %}
    <h4>
      <a target="_blank" href="">LTOJ (Le Thuy Online Judge)</a> là một trang web chấm bài tự động được phát triển dựa trên nền tảng mã nguồn mở <a target="_blank" href="https://dmoj.ca/">DMOJ</a>. LTOJ cung cấp lượng bài luyện tập đồ sộ từ các kỳ thi HSG Quốc Gia, ACM ICPC, Olympic Duyên Hải Bắc Bộ, etc. cho đến các contest định kỳ để xếp loại khả năng (rating) giúp các bạn có thêm động lực cạnh tranh và khí thế phấn đấu rèn luyện nâng cao trình độ lập trình. Mọi ý kiến đóng góp và thắc mắc xin gửi về:
      <ul>
        <li>Email: <a href="mailto:admin@ltoj.edu.vn">admin@ltoj.edu.vn</a></li>
        <li>Email: <a href="mailto:vongocsinh2007@gmail.com">vongocsinh2007@gmail.com</a></li>
      </ul>
    </h4>
  {% endif %}
{% endblock %}