{% extends "base.html" %}

{% block media %}
  {% block content_media %}{% endblock %}
{% endblock %}

{% block js_media %}
  {% block content_js_media %}{% endblock %}
{% endblock %}

{% block body %}
  <div id="common-content" class="edu-workspace-shell">
    <aside id="content-right" class="edu-workspace-sidebar">
      <div class="info-float edu-workspace-sidebar-panel">{% block info_float %}{% endblock %}</div>
    </aside>
    <section id="content-left" class="split-common-content edu-workspace-main">
      <div class="content-description screen edu-workspace-briefing">
        {% block description %}{% endblock %}
        {% block description_end %}
        {% endblock %}
      </div>
      {% block post_description_end %}{% endblock %}
      {% block comments %}{% endblock %}
    </section>
  </div>
{% endblock %}
